table{
	width: 350px;
	border-spacing: 0px;
	border-collapse: separate;
}

table, tr, td{
	border: 0px;
	padding: 2.5px;
	height: 2.5px;
}

.yellow{
	background-color: #ffd633;
}

.white{
	background-color: #ffffff;
}

.red{
	background-color: #e62e00;
}

.black{
	background-color: #000000;
}